@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2222;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter" sans-serif !important;
}

.react-calendar__tile--now {
  background: #fbbf24 !important;
  border-radius: 4px;
}

.react-calendar__tile--active {
  background: #2563eb;
  color: white;
  border-radius: 4px;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
  font-size: 14px;
}
