@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2222;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter" sans-serif !important;
}

.react-calendar__tile--now {
  background: #fbbf24 !important;
  border-radius: 4px;
}

.react-calendar__tile--active {
  background: #2563eb;
  color: white;
  border-radius: 4px;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
  font-size: 14px;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #fef9c3 !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background: #2563eb !important;
  color: white !important;
  box-shadow: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-content {
  border-top: none !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-label {
  font-size: 12px !important;
}

.rbc-timeslot-group {
  background-color: #dbeafe !important;
}

.rbc-event:nth-child(2n + 1) {
  background-color: #93c5fd !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 7px !important;
  color: #1e293b !important;

  padding: 4px !important;
  border: none !important;
}

.rbc-event:nth-child(2n + 2) {
  background-color: #fef9c3 !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 7px !important;
  padding: 4px !important;
  color: #1e293b !important;
  border: none !important;
}

.rbc-event-label {
  font-size: 12px !important;
}

.rbc-event-content {
  font-size: 14px !important;
  font-weight: 600 !important;
}
